li{
  display: inline-flex;
  
}

nav img{
  padding: 0px;
}

nav a{
  text-decoration: none;
  font-family: 'piedea',cursive;
  font-size: 40px;
  color: cornflowerblue;
}

.header{
  width: 100%;
  height: 60px;
  background: rgba(0,0,0,0.5);
  position: fixed;
  top: 0px;
}

.header ul a{
  list-style: none;
  display: inline-flex;
  text-decoration: none;
  color: white;
  font-size: 18px;
  padding: 8px;
  line-height: 1.5;
}

.header ul li:hover{
  background: rgba(0,0,0,0.5);
}

#ul{
  float: right;
}

.web{
  border: solid;
  
}

.network{
  border: solid;
  
}

.face{
  text-align: right;
  padding-left: 0px;
}

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}

body {
  background-attachment: fixed;
  font-family: 'Libre Baskerville', serif;
}

.card1 {
  padding-bottom: 15px;
}

.contactButtonContainer {
  background-color: #000;
  margin-top: 15px;
}

.contactButton {
  text-align: center;
}
.contactContainer {
  padding: 0;
}

.dropDown {
  padding-left: 20px;
  padding-right: 20px;
}

footer {
  background-color: #000;
}

h1 {
  text-align: center;
  font-family: 'Lobster', cursive;
}

h5 {
  font-weight: bold;
  font-size: medium;
  text-align: center;
}

p{
  text-align: center;
}


.hello {
  margin-left: 17px;
  margin-top: 50px;
  font-family: 'Lobster', cursive;
  font-size: 40px;
}

hr {
  border: 1px solid red;
  width: 50%;
}

.mainHeading {
  font-size: 30px;
  font-family: 'Lobster', cursive;
}

.myImg {
  max-width: 100%;
  position: relative;
}

.pb1 {
  height: 28px,
}

.pg1 {
  height: 28px,
}

.redline {
  height: 100%;
  margin: 0;
}

.row1 {
  display: inline-flex;
  margin: 0;
  margin-top: 15px;
  padding: 2px;
}

.skillsPara {
  max-width: 90%;
  margin: auto;
  text-align: center;
  align-items: center;
  border: solid;
}

.skillSection {
  align-items: center;
}